POSTGRES_VERSION=postgres_dataBase_version
POSTGRES_USER=dataBase_user_name
POSTGRES_PASSWORD=real_strong_password_for_dataBase
POSTGRES_DB=dataBase_name
POSTGRES_PORT=postgres_dataBase_port
REDIS_VERSION=redis_dataBase_version
REDIS_PORT=redis_dataBase_port
AUTH_PORT=auth_port

JWT_SECRET_KEY=jwt_secret_key
JWT_ALGORITHM=jwt_algorithm
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=access_token_alive_time_in_minutes
JWT_REFRESH_TOKEN_EXPIRE_DAYS=refresh_token_alive_time_in_days